
/*MENU, nav */

#menu{		
       
         background: #2D9FEA;
         border-radius: 20px;
      
         padding-top: 12px;
         padding-bottom: 12px;
   

   }


nav ul .i_menu{  /*letras del menu*/


    padding-right: 50px;  /*espacio*/
  	display:inline ;
	position:relative;
	left: 30%;/*centrando el menu*/
	font-size: 19px;
	color: white;


}

a{

text-decoration:none; /*subrayado de enlaces*/

}